{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Content container -->
<div class="content-container2">
    <div class="container mt-5">
        <div class="row">
            <!-- Add your card content here -->
            <div class="col-md-12 text-center"> <!-- Added text-center class -->
                <div class="card">
                    <div class="card-body text-center"> <!-- Added text-center class -->
                        <h5 class="card-title">BRONZE PACKAGE</h5>
                        <img src="/media/bronze_wedding.png" alt="" class="card-img-top card-img-left">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for products in products %}
                                <tr>
                                    <td>{{ products.name }}</td>
                                    <td>{{ products.description }}</td>
                                    <td>{{ products.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
                            <a href="/wedding" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more columns and cards as needed -->
    </div>
</div>
{% endblock %}
